.menu_list, h1,h2,h3,h4,h5,h6, .text_left, .btn-success, .news, .news_more, .mail_block, .contr_img, .contributors_more, .company_img, .btn-danger,
.gallery_links, .gallery_title, .form-control, .label-text, .hover15, .btn-red, .alert-success, .alert-danger {
  font-family: 'BPGDejaVuSansCaps-Book';
}

.news_block, .about_center_content,  .about_bottom_content, .contributors_text, .contr_text, .popup_content, .inner_news_text, .packet_text, .scholarship_text, .student_block_text {
font-family: 'BPG2017DejaVuSans';
}

header {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  z-index: 1050;
  height: 370px;
}
nav {
  text-align: right;
}
.toggle {
  position: absolute;
  top: 44%;
  right: 0;
  transform: translate(-50%, -50%);
  height: 40px;
  width: 37px;
  cursor: pointer;
}
.menu {
  color: #fff;
  display: none;
  z-index: 1100;
}
.toggle span {
  display: block;
  width: 37px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ec008c;
  transition: .5s;
  text-align: right;
}
.toggle span:nth-child(1) {
  transform: translate(-50%, -50%) translateY(-11px) ;
  transition: .2s;
  width: 37px;
  left: 50%;
  
}
.toggle span:nth-child(4) {
  transform: translate(-50%, -50%) translateY(11px) ;
  transition: .2s;
  width: 35px;
  left: 28%;
  width: 20px;
}
.toggle:hover span:nth-child(4) {
  transform: translate(-50%, -50%) translateY(11px) ;
  transition: .2s;
  width: 37px;
  left: 50%;
  width: 100%;
}
.toggle.nav-active span:nth-child(1) {
  transform: translate(-50%, -50%) translateY(-35px) ;
  opacity: 0;
  left: 50%;
}
.toggle.nav-active span:nth-child(4) {
  transform: translate(-50%, -50%) translateY(35px) ;
  opacity: 0;
  left: 50%;
  
}
.toggle.nav-active span:nth-child(2) {
  transform: translate(-50%, -50%)  rotate(45deg);
  left: 50%;

}
.toggle.nav-active span:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  
}
.contact-heading {
  color: #fff;
  font-size: 58px;
}
.main-text {
  padding-top: 15px;
}
.main-text p{
  color: #fff;
  text-align: right;
  color: #a6b1d6;
  font-size: 24px;
  line-height: 35px;
}
.contact {
  margin-top: 80px;
}
.logo {
  z-index: 1100;
}
.toggle {
  z-index: 1100;
}
 .news h6 {
  color: #2d2c2a;
  font-size: 12px;
  font-weight: bold;
}
ul {
  margin: 0;
}
.contact_bold {
  font-weight: bold;
}
.breadcrumbs {
  padding: 0;
}
.breadcrumbs li {
  float:left;
  text-decoration: none;
  list-style: none;
  padding-right: 10px;
  line-height: 30px;
}
.breadcrumbs li a {
  color: #8e9dce;
}
.breadcrumbs li a:hover {
  text-decoration: none;
}
.breadcrumbs li a:after {
  content: "\BB";
  color: #8e9dce;
  top: 0;
  z-index: 2;
  padding-left: 11px;
}
.breadcrumbs li  span {
  
  color: #8e9dce;
}

.menu_list li {
	display: inline;
  font-size: 12px;
}.breadcrumbs .svg-container svg {
  height: 20px;
  width: 30px;
}
.menu_list li  {
	
  padding: 0  15px;
  
}
.menu_list li a {
	color:#fff;
  font-size: 18px;
  padding: 0 5px 2px 5px;
  text-transform: capitalize;
}
nav li.active a {
  border-bottom: 2px solid #ec008c;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
.menu_list li a:hover {
	border-bottom: 2px solid #ec008c;
	text-decoration: none;
  transition: all 0.5s ease-in;
}

.toggle {
	display: none;
}

.menu_list img {
  background-color: #ff3333;
  padding: 3px;
  border-radius: 50%;
}
.min_header {
  font-size: 12px;
}




.lang_href {
  display: inline-block;
  float: right;
  color: #fff;
  font-size: 12px;
  transition: all 0.5s ease-in;
}

.lang_href:hover {
  text-decoration: none;
  color: #ff3333;
  transition: all 0.5s ease-in;
}
/*end change language style*/
#main_banner .btn{
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 57px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}
#main_banner .btn:link,
#main_banner .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 57px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}
.btn-red {
  background-color: #ff3333;
  color: #fff;
  width: 100%;
}
#main_banner .btn:hover {
  background-color: #ff3333;
  /*transform: translateY(-3px); */
  box-shadow:  0 1rem 2rem rgba(0,0,0,.2);
  color: #fff;
}
.scholarship_back_color .btn:hover {
  background-color: #ff3333;
  /*transform: translateY(-3px); */
  box-shadow:  0 1rem 2rem rgba(0,0,0,.2);
  color: #fff;
}
.scholarship_back_color .btn-red{
  width: 50%;
}
#main_banner .btn:focus {
  box-shadow: none;
}
#main_banner .btn:active {
  /*transform: translateY(-1px);*/
  box-shadow:  0 .5px 1rem rgba(0,0,0,.2);
}
#main_banner .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
 .btn-red::after {
  background-color: #ff0000;
}
.btn-animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}
.social_icons {
  position: fixed;
  bottom: 0;
  z-index: 1050;
}
.contact-heading:after {
  content: ".";
  color: #ec008c;
  font-size: 25px;
  padding-left: 2px;
}
/*-------------------------------end header style-------------------------*/
.social_media i {
  font-size: 46px;
  color: #ec008c;
  padding: 20px;
}
.social_media {
  padding: 70px 0;
  background-color: #f8f8f8;
  box-shadow: inset 0 -0.1rem 0.5rem 0 #dedede;
}
.social_media .info {
  text-align: center;
}
.social_block {
  width: 100px;
  height: 100px;
  border: 2px solid #c5c5c5;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
}
.social_media .inner_block {
  width: 90px;
  height: 90px;
  border: 1px solid #e3e3e3;
  text-align: center;
  border-radius: 50%;
  margin-top: 3px;
  display: inline-block;
}
.info strong {
  display: block;
  margin: 30px 0 20px ;
}
.facebook-link {
  color: #4562ac;
  font-weight: bold;
}
.instagram-link {
  color: #ec008c;
  font-weight: bold;
}
.fa-mobile-alt, .fa-envelope {
  color: #ec008c;
}
.contact_form {
  box-shadow: inset 0 -0.1rem 0.5rem 0 #dedede;
  padding: 60px 0;
}
.contact_title {
  color: #27376c;
  font-size: 46px;
  font-weight: 600;
}
.social_footer {
  padding: 55px 0;
  background-color: #f8f8f8;
}
.radical_web_design {
  color: #797979;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.footer_address {
  color: #797979;
  font-size: 18px;
}
.phone {
  color: #df108a;
  font-weight: bold;
  margin-right: 15px;
}
.mail{
  color: #df108a;
  font-weight: bold;
}
.right {
  text-align: right;
}
.social_list {
  list-style: none;
}
.social_list li {
  display: inline;
  padding-left: 5px;
}
.social_list .svg-container svg {
  width: 40px;
  height: 40px;
}















@media screen and (max-width: 575.98px) {
.contact-heading {
  color: #fff;
  font-size: 44px;
}
.main-text p {
  font-size: 20px;
}
.menu_list li a {
  font-size: 26px !important;
}
header {
  padding: 20px 0 0  0;
}
.right {
  text-align: left;
  padding-top: 30px;
}
.social_list {
  padding: 0;
}
}
@media screen and (max-width: 767.98px) {
  #main .last_news .news_text {
    height: 141px;
  }
  h3 a {
    padding-top: 20px;
}
 .news_hover h3 {
    font-size: 20px;
    padding-top: 20px;
}
.transfer {
  margin-top: 0;
}


}



@media screen and (max-width: 991.98px) {
  .toggle {
  	display: block;
  	text-align: right;
  	color:#fff;
  }
 .main-text p {
   text-align: left;
 }
 .contact {
  margin-top: 40px;
}
  .toggle i {
  	font-size: 30px;
  	cursor: pointer;
  }
  h1 {
    margin-bottom: 0;
  }
  .menu_list {
  	display: none;
  	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 110px;
    background-color: #0c1b4e;
    color: #fff;
    z-index: 1050;
  }
  .active {
  	display: block;
  }
  .menu_list li {
  	display: block;
  	text-align: center;
  }
  .menu_list li a{
    color:#fff;
    font-size: 20px;
  }
.menu_list li a {
  font-size: 40px;
}
.menu {
  display: block;
  position: absolute;
  right: 70px;
  top: 15px;
}
.info {
  margin-bottom: 35px;
}
.info strong {
  display: block;
  margin: 15px 0;
}
}
@media screen and (max-width: 767.98px) {
  .search-box {
    position: absolute;
    top: 20px;
    right: 70px;
  }
}
@media screen and (max-width: 575.98px) {
  .search-btn {
    right: 65px;
  }
  .search-txt {
    right: 44px;
  }
  }

@media screen and (max-width: 1199.8px) {
  .menu_list li  {
    padding: 0 10px;
  }
}
@media screen and (min-width: 576px) {
  .gallery_title {
    width: 91%;
  }
 }
@media screen and (min-width: 992px) {
 .gallery_title {
    width: 94%;
  }
}
@media screen and (min-width: 1200px) {
 .gallery_title {
    width: 90%;
  }
}















